<div class="box">
<div class="buttons-genre">
        <button mat-raised-button type="submit" (click)="genre('Crimen')">Crimen</button>

        <button mat-raised-button type="submit" (click)="genre('Accion')">Acción</button>

        <button mat-raised-button type="submit" (click)="genre('Aventura')">Aventura</button>

        <button mat-raised-button type="submit" (click)="genre('Terror')">Terror</button>

        <button mat-raised-button type="submit" (click)="genre('Animacion')">Animación</button>

        <button mat-raised-button type="submit" (click)="genre('Ciencia ficcion')">Ciencia Ficción</button>

        <button mat-raised-button type="submit" (click)="genre('Drama')">Drama</button>

        <button mat-raised-button type="submit" (click)="genre('Comedia')">Comedia</button>

        <button mat-raised-button type="submit" (click)="genre('Fantasia')">Fantasia</button>
</div>

<div class="movies">
        <div class="img-container" *ngFor="let movie of movies[0]" (click)='actualMovie(movie)' routerLink="/order" routerLinkActive="active-link">
                <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="poster">
        </div>
</div>
</div>


