<div class="register">
    <form class="box-form" (submit)="register()" #form='ngForm'>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" value="" [(ngModel)]="user.username"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Firstname" value="" [(ngModel)]="user.firstname"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Surename" value="" [(ngModel)]="user.surename"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" value="" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" value="" [(ngModel)]="user.password"
            [ngModelOptions]="{standalone: true}" type="password">
        </mat-form-field>
        
        
        <button  mat-raised-button type="submit">Send</button>
        
    </form>
</div>
