.movies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 7rem;
  background-color: rgb(29, 29, 29);;
  width: 100%;
  
  
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  outline: none;
  cursor: pointer;
}

img {
  filter: drop-shadow(5px 5px 10px rgb(8, 8, 8));
}





