.menu {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    background-color: rgb(225, 254, 255);
    span {
      padding: 0.5em;
      border-radius: 0.5em;
      background-color: rgb(198, 232, 255);
    }
    a{
      text-decoration: none;
    }
    .active-link{
      span{
        color:white;
        background-color: rgb(23, 143, 255);
      }
    }
  }