<header>

    <img id="logo" src="../../../assets/img/LOGO-NEFLI.png" alt="Nefli">

    <nav class="menu">

        <a routerLink="/movies" routerLinkActive="active-link">
            <span>Movies</span>
        </a>



        <a routerLink="/movies/genre" routerLinkActive="active-link">
            <span>Genre</span>
        </a>



        <a routerLink="/movies/top_rated" routerLinkActive="active-link">
            <span>Popular</span>
        </a>


        <div class="isLoggedIn" *ngIf="userService.getUser()">

            <a routerLink="/profile/:id" routerLinkActive="active-link">
                <span>Profile</span>
            </a>

            <a routerLink="/logout" routerLinkActive="active-link">
                <span>Logout</span>
            </a>

        </div>

        <div class="isNotLoggedIn" *ngIf="!userService.getUser()">

            <a routerLink="/register" routerLinkActive="active-link">
                <span>Register</span>
            </a>

            <a routerLink="/login" routerLinkActive="active-link">
                <span>Login</span>
            </a>

        </div>

    </nav>
</header>