
<header>
    <nav class="menu">

        <a routerLink="/movies" [style.color]="userService.isRed ? 'red':'black'" routerLinkActive="active-link">
            <span>Movies</span>
        </a>
        <a routerLink="/movies/popular" routerLinkActive="active-link">
            <span>Popular Movies</span>
        </a>
        <a routerLink="/movies/top_rated" routerLinkActive="active-link">
            <span>Top rated Movies</span>
        </a>

        <div class="isLoggedIn" *ngIf="userService.getUser()">
            <a routerLink="/profile" routerLinkActive="active-link">
                <span>Profile</span>
            </a>
            <a routerLink="/logout" routerLinkActive="active-link">
                <span>Logout</span>
            </a>
        </div>
        
        <div class="isNotLoggedIn" *ngIf="!userService.getUser()">
            <a routerLink="/register" routerLinkActive="active-link">
                <span>Register</span>
            </a>
            <a routerLink="/login" routerLinkActive="active-link">
              <span>Login</span>
            </a>
        </div>



    </nav>
</header>